 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
   /* .lime , .red{
    display: none;
   }
  */
  .slider {
padding: 20px 40px;
}
.slider button {
    margin-bottom: 45px;
}
.slider p {
    font-size: 16px;
}
.custom-ind [data-bs-target] {
    width: 11px;
    height: 11px;
  }

}
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

/* .red{
  display: none;
} */

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
.slider h1{ 
      font-size:23px;
}
.slider p {
    font-size: 18px;
}
.slider button {
    margin-bottom: 40px;
}
 .custom-ind {
    margin-bottom: 30px;
}
.custom-ind [data-bs-target] {
    width: 13px;
    height: 13px;
  }
  
.slider {
  padding: 60px;
}
 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

  /* Extra   Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 

 }
  /* Extra Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1400px) and (max-width: 1699.98px) { 

 }
  /* Extra Extra Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1700px) and (max-width: 1999.98px) { 

 }
  /* Extra Extra Extra Extra  Large devices (desktops, 1200px and up)
@media (min-width: 1800px) and (max-width: 1999.98px) { 

 } */
 


  /* 5X  Extra large devices (large desktops, 1400px and up) */
@media (min-width: 2000px) { 

 }
