 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  /* .box {
    background-color: #e19625;
} */
 .item {
    width: 100%;
}
}


 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

 /* .box {
    background-color: #3f8f16
} */
.item {
    width: 100%;
}
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
/* .box {
    background-color: #22837e
} */
.item {
    width: 50%;
}

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

  /* Extra   Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 

 }
  /* Extra Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1400px) and (max-width: 1699.98px) { 

 }
  /* Extra Extra Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1700px) and (max-width: 1999.98px) { 

 }
  /* Extra Extra Extra Extra  Large devices (desktops, 1200px and up)
@media (min-width: 1800px) and (max-width: 1999.98px) { 

 } */
 


  /* 5X  Extra large devices (large desktops, 1400px and up) */
@media (min-width: 2000px) { 

 }
