.header{
    height: 100px;
    background-color: brown;
}
.a{
    h1{
        display: inline;
    }
.w{
    display: block;
}

p{
    display: inline-block;
}
}
.b{
    h1,p{
        display: inline-block;
    }
.w{
    display: block;
}


}