
.banner{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
}
.slider{
    background-color: rgba(1,1,1,.7);
     color:white;
      padding: 99px; 
}
.slider h1{ 
    font-size:30px;
    margin-bottom: 30px ;
    margin-top: 30px;

}
.slider p{
font-size:20px;
margin-bottom: 30px ;
}
.slider button { 
    margin-bottom: 100px;
    
} 
.custom-ind{
    margin-bottom: 40px;
}
.custom-ind [data-bs-target] {
    width: 15px;
    height: 15px;
border-radius: 50%;
background-color: rgba(1,1,1,.5);
}