/* font link S */
 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
/* font link E */




/* common Css S */
:root{
   -- red:#FD511A;
--black:#000000;
--green:#21B573;

--pop:"Poppins", sans-serif;
--rob: "Roboto", sans-serif;

}
body{
font-family: var(--pop);
font-size: 16px;
font-weight: 400;
color: var(--black);
}

/* common Css E*/
/* header S*/
header{}
.nav_c{}
.logo{
   
}
.n_btn{}
.menu{}
.menu ul li a{}
/* header E*/
h1{
    /* color: var(--green); */
    font-family: var(--rob);
}

/* js.html S*/

.que{
    padding: 30px 10px;
    cursor: pointer;
}
.ans{
    display: none;
    padding: 30px 10px;

}

#dragg { width: 150px;
     height: 150px; 
     padding: 0.5em; }

/* js.html E*/

.box{
    background-color: red;
    padding: 150px 0;
    border: 1px solid yellow;
}